{% extends "base.html" %}

{% block content %}
   <table>
       <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %} <p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %} <p> Последний визит: {{ user.last_seen }}</p>{% endif %}
            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% endif %}
        </td>
       </tr>
   </table>
   <hr>
   {% for posts in posts %}
       {% include '_post.html' %}
   {% endfor %}
{% endblock %}